body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.app {
    max-width: 400px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    width: 48%;
    padding: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

#addIncome {
    background: green;
    color: white;
}

#addExpense {
    background: red;
    color: white;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}